* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: rgb(198, 198, 198); */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: white;
   /* background-image: linear-gradient(to bottom, #6AAF02, #A5E470, #C94739); */
  width: 100%;
}

.logo-container img {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 10px;
  /* border: 1px solid black; */
}
nav h1 {
  font-variant: small-caps;
  color: white;
  background-color: orange;
  border-radius: 10%;
  padding: 5px;
}
.menu-list {
  display: flex;
}

.menu-list li {
  list-style: none;
  padding: 10px;
}
.menu-list li a {
  text-decoration: none;
  color: rgba(255, 35, 35, 0.8);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: url(./assets/images/fastfood.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.header input {
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 35px;
}
.header input:focus {
  outline: 2px solid rgba(255, 35, 35, 0.8);
  box-shadow: 0 3px 8px rgba(255, 35, 35, 0.9);
}
.header button {
  height: 35px;
  padding: 8px;
  color: white;
  background-color: rgba(255, 35, 35, 0.8);
  border: none;
  border-radius: 5px;
  transition: 300ms;
}
.header button:hover {
  background-color: rgba(255, 35, 35, 0.9);
  box-shadow: 0 3px 8px rgba(255, 35, 35, 0.9);
}

.preview-items {
  text-align: center;
  padding: 40px 20px;
  height: auto;
}
.preview-items h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}
.preview-items .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.preview-items .card {
  width: 300px;
  height: 400px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 300ms ease;
}
.preview-items .card:hover {
  transform: scale(1.1);
}
.preview-items .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}
.food-menu-heading {
  margin-bottom: 35px;
  font-size: 36px;
}

.food-menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.food-menu .menu-card {
  width: 500px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.17);
  padding: 20px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.food-menu .menu-card img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.food-menu .food-item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.food-menu .food-item-details h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.food-menu .food-item-details h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.food-menu .food-item-details p {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.food-menu .food-item-details button {
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
  background-color: #ff6347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms ease;
}

.see-all-foods {
  margin-top: 20px;
  font-size: 18px;
  color: #ff6347;
  cursor: pointer;
  transition: 300ms ease;
}

.food-menu .food-item-details button:hover {
  background-color: #ff4500;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.footer .links {
  display: flex;
  gap: 20px;
}
.footer a {
  text-decoration: none;
  color: #333;
  transition: all 300ms ease;
}
.footer a:hover {
  transform: scale(1.2);
}
.footer #twitter-icon {
  color: #3f90e0;
}
.footer #facebook-icon {
  color: #035ab1;
}
.footer #instagram-icon {
  background-image: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  color: #fff;
  border-radius: 5px;
}
.footer p {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

@media (max-width: 500px) {
  .logo-container img {
    display: none;
  }
  nav h1 {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
